.main {
	/* margin: 0;
	padding: 0;
	background-color: var(--dark-purple-color);
	background-image: url("/assets/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden; */
    
    padding-left: 20rem;
	height: 80rem;


}

