.search-container {
    position: relative;
  }
  
  .input {
    width: 300px;
  }
  
  .search-results {
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 1; 
    background-color: rgb(184, 70, 70); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 4px;
    color: black;
    max-height: 200px; 
    overflow-y: auto; 
  }
  
  .result-item {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  .result-item:hover {
    background-color: #DB808E;
  }