@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
  font-family: 'Whitney';
  src: url('./fonts/Whitney-Sans-Font/whitney.ttf');
}

@font-face {
  font-family: 'Whitney BlackSC';
  src: url('./fonts/Whitney-Sans-Font/whitney-blacksc.otf');
}

@font-face {
  font-family: 'Whitney Semibold';
  src: url('./fonts/Whitney-Sans-Font/whitney-semibold.otf');
}

@font-face {
  font-family: 'Whitney Bold';
  src: url('./fonts/Whitney-Sans-Font/whitney-bold.otf');
}

.link-style {
  @apply px-28 py-3 hover:text-[var(--pink-color)] cursor-pointer hover:rotate-12 hover:scale-150 hover:transition ease-in-out duration-300 sm:px-2;
  
}

.btn-style {
  @apply px-10 py-2 font-bold text-white bg-[--purple-color] rounded-2xl cursor-pointer hover:bg-[--pink-color] transition ease-in-out duration-300 sm:py-3 sm:px-12;
}

.glassmorphism {
  @apply bg-[rgba(255,255,255,0.09)] shadow-[0_4px_30px_rgba(0,0,0,.1)];
  /* -webkit-backdrop-filter: blur(7.6px);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px; */
}

.custom-shape {
  @apply rounded-tr-xl rounded-br-[100px] rounded-bl-xl rounded-tl-[100px] 2xl:rounded-tl-[268px] 2xl:rounded-tr-[37px] 2xl:rounded-br-[268px] 2xl:rounded-bl-[37px];
}

.input-style {
  @apply w-56 h-9 font-['Whitney_Semibold'] selection:bg-[--purple-color] selection:text-white outline-[--purple-color] px-[48px] text-black text-sm border-2 border-solid border-[#8E8E8E] placeholder:text-[.7rem] sm:w-60 sm:h-10 sm:placeholder:text-sm md:w-[17rem] md:h-12 md:text-[1.1rem] 2xl:w-[403px] 2xl:h-[59px] 2xl:px-[60px] 2xl:text-xl 2xl:placeholder:text-[15px];
}

.input-password-style {
  @apply w-[6.8rem] h-9 selection:bg-[--purple-color] selection:text-white px-[35px] outline-[--purple-color] text-black text-sm border-2 border-solid border-[#8E8E8E] placeholder:text-[.7rem] sm:placeholder:text-sm sm:w-[7.4rem] sm:h-10 md:w-[8.4rem] md:h-12 md:text-[1.1rem] 2xl:h-[59px] 2xl:px-[60px] 2xl:text-xl 2xl:placeholder:text-[15px] 2xl:w-full;
}

.icon-style {
  @apply absolute top-[50%] transform translate-y-[-50%] text-black text-[.7rem] md:text-sm 2xl:text-[1rem];
}

.active-btn-style {
  @apply bg-white text-black;
}

.disabled-btn-style {
  @apply bg-[rgb(224,224,224)] text-[#949494];
}

.li-style {
  @apply py-8 text-center cursor-pointer;
}

.icon-aside-bar {
  @apply w-[30px] h-[30px] inline-block group-hover:text-white transition ease-in-out duration-500;
}

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --pink-color: #FC7785;
  --purple-color: #6A67F3;
  --dark-purple-color: #1E1B34;
  --blue-color: #498CDA;
  --gray-color: #ECECEC;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-purple-color);
  background-image: url('/assets/background.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  background: var(--purple-color);
  color: white;
}

/* main { */
  /* position: absolute;
	top: 0;
	width: 100%;*/
	/* background: rgba(255, 255, 255, 0);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px); */
	/* height: 100%; */
/* } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
