@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Whitney';
  src: url('/public/fonts/Whitney-Sans-Font/whitney.ttf');
}

.link-style {
  @apply w-[100%] sm:w-[90px] h-[40px] leading-[40px] text-center inline-block hover:text-[var(--pink-color)] hover:rotate-12 hover:scale-150 hover:transition ease-in-out duration-300;

}

.btn-style {
  @apply bg-[--purple-color] text-white px-[80px] sm:px-4 py-2 rounded-[30px] hover:bg-[--pink-color] transition ease-in-out duration-300;
}

.glassmorphism {
  @apply bg-[rgba(255,255,255,0.09)] shadow-[0_4px_30px_rgba(0,0,0,.1)] backdrop-blur-[3px]
  /* -webkit-backdrop-filter: blur(7.6px);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px; */
}

.custom-shape {
  @apply rounded-tr-[37px] rounded-br-[268px] rounded-bl-[37px] rounded-tl-[268px]
}

.input-style {
  @apply w-[403px] h-[59px] px-[55px] text-black text-xl border-solid border-2 border-[#8E8E8E]
}

.input-password-style {
  @apply absolute px-[55px] text-black text-xl border-solid border-2 border-[#8E8E8E] w-[197px] h-[59px];
}

.active-btn-style {
  @apply bg-white text-black;
}

.disabled-btn-style {
  @apply bg-[rgb(224,224,224)] text-[#949494];
}

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --pink-color: #FC7785;
  --purple-color: #6A67F3;
  --dark-purple-color: #1E1B34;
  --blue-color: #498CDA;
  --gray-color: #ECECEC;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-purple-color);
  background-image: url('/assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* main { */
  /* position: absolute;
	top: 0;
	width: 100%;*/
	/* background: rgba(255, 255, 255, 0);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px); */
	/* height: 100%; */
/* } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
